.Rproj.user
.Rhistory
.RData
.Ruserdata
*.aux
*.bbl
*.blg
*.log
*.log
*.log
*.out
*.gz
*.log
Manuscript/Forecasting.log
Manuscript/Forecasting-concordance.tex
Manuscript/Forecasting.aux
Manuscript/Forecasting.log
Manuscript/Forecasting.pdf
Manuscript/Forecasting.tex
Manuscript/Forecasting.log
